*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark light;
}

img,
svg,
picture,
video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*.wrapper {
    margin: auto;
    width: min(90%, 1200px);
}*/

header {
    background-color: blueviolet;
    padding: 1em;
}

nav {
    margin-top: 1em;
    text-align: center;
}

ul li+li {
    margin-top: .5em;
}

/* Main section */

.left-col {
    padding: 1em;
    text-align: center;
}

.left-col p {
    margin: 1em 0;
}

.primary-cta {
    background-color: violet;
    border-radius: 5px;
    padding: .5em 2em;
}

.secondary-cta {
    display: flex;
    justify-content: center;
}

.secondary-cta span {
    display: block;
    margin: 1em 0;
}

.secondary-cta svg {
    width: 1.2em;
    margin-left: .3em;
}

.news {
    display: flex;
    justify-content: space-between;
}

.employees {
    font-size: 2em;
    width: 20%;
}

.details {
    width: 78%;
}

/* Card Section */

.card {
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature-product {
    background-image: url(../images/clothing3.jpg);
}

.product-one {
    background-image: url(../images/clothing1.jpg);
}

.product-two {
    background-image: url(../images/clothing2.jpg);
}

.card-details {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: white;
    width: 90%;
    margin: auto;
}